{% extends "base.html" %}

{% block title %}Happy Birthday Michelle!{% endblock %}

{% block body_class %}autumn-base home-page{% endblock %}

{% block content %}
<div class="home-container fade-in">
    <div class="home-content">
        <div class="profile-image-container">
            <span title="Michelle" style="font-size: 4rem;">👸🧁</span>
        </div>
        <h1 class="birthday-title" data-translate="home_title">Happy Birthday,<br><span class="name-highlight">Michelle!</span></h1>
        <p class="subtitle" data-translate="home_subtitle">Here is a special surprise from your team</p>
        <a href="{{ url_for('message', message_id=1) }}" class="btn-primary" data-translate="home_button">
            Begin Your Birthday Surprise
        </a>
        <a href="{{ url_for('games') }}" class="btn-primary btn-secondary btn-games" data-translate="play_games" style="margin-top: 15px;">
            🎮 Play Games
        </a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    // Initialize mixed seasonal particles for home page
    initMixedParticles();
    
    // Play birthday song
    playBirthdaySong();
</script>
{% endblock %}
